.slide-wrapper{
  background: white;
}

.window{
  display:flex;
  overflow:hidden;
  justify-content: center;
  align-items: center;
}
 
.show{
width:820px;
display:flex;
overflow:hidden;
  
}

  img{
    transition:all 1s;
    transform:translate(-820px);
     
  }

  .number{
    text-align: center;
   border-bottom:1px solid #FEFEFE;
  }

#next-wrapper:hover,
#previous-wrapper:hover{
  padding:100px 0;
    border-radius:15px;
  background: rgba(0,0,0,0.1);
}




 .icon {
         width: 100px; 
         height: 100px;
         vertical-align: -0.15em;
         fill: currentColor;
         overflow: hidden;
      }
  

 .number>.icon{
    width: 70px; 
    height: 50px;
    color: grey;
    padding:10px;
    border-radius:15px;
  }
  .number>.icon .active,
  .number>.icon:hover{
     background: rgba(0,0,0,0.1);
  }

 #previous >.icon:hover{
     background: #FBFBFB;
  }







